PORT=5000
HOST=localhost:5000
DATABASE_URL=postgres://postgres:postgrespassword@localhost:5432/auth
DATABASE_CLIENT=pg
JWT_SECRET=secret
CORS_WHITELIST=http://localhost:3000,http://localhost:5000
FRONTEND_URL=http://localhost:3000
SMTP_PORT=1025
SMTP_SENDER=from@me.com
ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=12345678

# Production email setup
# SMTP_HOST=smtp.gmail.com
# SMTP_SECURE=false
# SMTP_PASS=123456
# SMTP_USER= user@mail.com
# SMTP_AUTH_METHOD=PLAIN