<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      margin: 0;
      font-family: sans-serif;
    }

    button {
      color: white;
      margin: 0.5em 1em;
      border-radius: 3px;
      padding: 0.25em 1em;
      background: dodgerblue;
      border: 2px solid dodgerblue;
    }
  </style>
</head>

<body>
  <h2>Hello <%= display_name %>
 
  <p>Thanks,<br />The Team</p>
</body>

</html>
